<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                  
                </div>
            </div>
            

            <div class="row">  

         
          <div class="col-md-6">
            <p class="large"><strong>R.B.Warang  FCA, MCom LLB </strong> -having a  extensive experience in various professional accounting &amp; finance management fields. He is also a certified Quick Books Professional consultant for India. He has also got a good experience of Quick Books in the Gulf Market. He has set very high standards for the level of expertise and skills required.<br>

            He has got a wide 25+ years of CFO level experience in the local and international markets. He began his career in Mumbai where he has worked for 5 yrs. Then he was selected for the post of Finance Manager in Oman - Muscat. Later on after a period of 2 yrs he was appointed in Dubai in a medium sized Group of companies at its Group Head Office as a Financial Controller. The Group was comprising of 7 companies.<br>

            There he got an opportunity to learn about different units of companies in many different industries. Apart from being a Finance person he got experience in commercial field. That experience period comprised of 12 years and helped him to develop an understanding of the factors that helped businesses to succeed.<br>

            There after he moved and joined another reputed a bigger private corporate Group in Abu Dhabi where he continued his business experience. There were around 25 companies including manufacturing, industrial processing, consumer products, and consumer services types. He was working in this Group for another 11 years as Group - CFO.<br>

            This is typical of the experience and expertise you can expect from us.</p>

           
           
          </div>

        <div class="col-md-6"> 

            <p class="large"><strong>Diveshwari R. Warang  </strong> is a - commerce graduate     ( B.Com ) – Microsoft Certified System Engineer ( MCSE ) – Certified Quick Books Professional Consultant( India ). She is handling the Sales &amp; Marketing of the firm.<br>

            She has extensive experience in various Accounting Packages. To name some of the reputed ones like - Dac-Easy, Peach Tree, Sage, Great Plains, TallyERP9 and QuickBooks. At present she is a certified Quick Books Professional ( India ). She has expertise in Tally Accounting package ERP9 also. <br>

            <strong>Vidya V. Desai </strong>is the head of Human Resources of Accfin Services. She handles everything from HR Operations to Onboarding of Employees and recruitment.<br>

            <strong>Aiswarya S. Pillai </strong> is the head of Accounts - is responsible for maintaining &amp; Supervising daily accounts of the clients of Accfin Services. She makes sure Employees and Vendors get their payments on time and company operations run smoothly <br>

            <strong>Prakash Nachite  </strong>is the  Client Servicing Head is in charge of Client Servicing at Accfin Services. He serves as an escalatory point of contact to customers. </p>            
           
        </div> 

        </div>

         <div class="col-md-12">
         <p class="large"><strong>OUR STRENGTH</strong> <br>   
            Committed and well trained staff motivated to provide quality service to the clientele. In  house library of the Firm, well-stocked with latest professional books and CD's for staff reference.<br>
            Modern Office having Computerized set up with Printers, LAN,  Scanner, etc in MULUND ( EAST )<br>
            A wide gamut of services, which can be fine-tuned to the individual business needs of our esteemed clientele. <br>
            We have at our disposal the services of experienced Chartered Accountants, Company Secretaries, Lawyers, Cost Accountants  and other professionals.</p>

          </div>
          </div>     

       
        
    </section>
