  <section id="accounts-writing">

        <div class="container">
       
        <div class="row">       
           <div id="accounts"> 
                <div class="col-lg-12 text-center"> 
                <img src="/img/services/1.jpg" alt="AccFin" width="100%" height="auto">                
                    <h2 class="section-heading">Online Accounts Writing</h2>
                    
                 </div>
             </div>      
         </div>

         <div class="row">
          <div class="col-md-6">       
 
            <p class="large">AccFin is a Online and Outsourcing  Accounts Services &amp; Solutions  Provider- Which differentiates AccFin  in its  ability to add value to Small &amp; Medium sized companies. AcccFin offers the  most effective Accounting  Solutions and thus Peace of Mind.</p>
          </div>

        <div class="col-md-6"> 

            <p class="large">For these services we mainly utilize  Quick Books  Accounting package, it is a Online Accounting package. We also utilize Tally ERP9 Accounting Package..<br>

            Accounts Writing ( Books of Accounts ) has been made  Very  Simple  ( A simple  process to write &amp; maintain your Books of Accounts ).</p>
           
        </div>
        </div>

        

        <p class="heading">We set it up and assist you every step of the way. </p>

        <div class="row">
          <div class="col-md-6">  

        <ol class="large">

           <li>You have to Securely Scan all your Expenses, Receipts ( Income ), Banking Transactions &amp; other Documents to our office for proper recording of it.</li>

           <li>Then onwards AccFin will take care of your Accounts. Our Accounting Staff will enter / record all of them into our system &amp; Process the Documents</li>

           <li>Then we will post the documents into the Ledgers  and prepare the Trial Balance.</li>

           <li>IN the mean time we would be preparing the Bank Reconciliation statement.</li>

           <li>After passing all the closing and adjustment entries whether it is a monthly close, Quarterly close, Half Year close or the Annual year end close.</li>
         </ol>  
       
        </div>
            <div class="col-md-6">
        <ol class="large"> 

            <li value="6"> Also basic procedures AccFin’s Staff takes care off are – preparing Chart of Accounts, Accounts Payables &amp; Accounts Receivables management,  payroll processing , taxation compliances etc..</li>

            <li>And after ward we will prepare the Basic Statements like P&amp;L A/c and BS We Can prepare other Financial related Reports  &amp; Analysis like Cash / Bank Flow statements, Budgets, Estimates, Projections, Ratio Analysis etc. instantly.</li>

            <li>Simultaneously Execute Cost controls, Revenue controls and Cost reduction procedures  immediately.</li>

            <li>Therefore  AccFin  is a  Accurate, Convenient, Fast, Paperless  company offering total worry free accounting </li>

        </ol>
       
        </div>

        </div>

         <div class="row">
          <div class="col-md-6">  
             <img src="/img/services/accounting-services.jpg" alt="AccFin" width="100%" height="auto">
          </div>
          <div class="col-md-6">
             <img src="/img/services/eff-acc.jpg" alt="AccFin" width="100%" height="300">
          </div>
         </div> 




          







</div>
</section>
