  <section id="accounts-writing">

        <div class="container">
       
        <div class="row">       
            <div id="accounts">
                <div class="col-lg-12 text-center">                 
                    <h2 class="section-heading"> </h2>
                    <h3 class="section-subheading"></h3>
                 </div>
             </div>      
         </div>
        
 
 <br><p>Our mission is to remove day-to-day operational Accounting and administrative challenges which Entrepreneurs of Start-Up companies, Small &amp; Medium companies face. With our experienced team and Industry expertise, we can take on such responsibilities to enable to guide their team towards their core mission.<br>

 We understand that every company runs in a way that fits our clients the best, and hence, we provide you with a unique, custom-made solution. We aim to minimize risks and maximize opportunities for clients by implementing the most effective financial management systems, procedures and policies at all stages of their life-cycle.<br>

 We bring together a highly qualified team from various fields to collectively provide services for your company. We provide outsourcing financial services based on the individual needs. of every client including Bookkeeping, Accounts Payable, Accounts Receivable, Invoice Processing, Payroll, Accounts Reconciliation and Compliance Services.<br>

Our firm offers a wide range of services to our individual and business clients. Our clients benefit from personalized, quality service that is beyond comparison.</p>

<h3>Specific Online Accounts Writing Services :- </h3>

<p>We maintain these services on Quick Book  and Tally ERP 9 Accounting packages. Both are Online Accounting packages. </p>



<div class="text-info">
    <ul>
<p><strong>I Book-Keeping </strong> - Day-to-Day recording of financial transactions in an organized and systematic manner including transactions such as purchases, sales, receipts, payments made. Maintaining Chart of Accounts.</p>

<p><strong>II Banking</strong> - Our personnel will be responsible for maintaining banking transactions including issuance off and deposit of cheques in the relevant Bank Accounts maintained by you. Periodic reconciliations of Bank Accounts with the Maintained Accounts to check for variances. In addition, they will be responsible for online payments or transfers if any should you choose to. </p>

<p><strong>III Petty Cash Management</strong> - Our personnel will be responsible for ensuring that the Petty Cash Book is well funded and systematically maintained with reconciliations and spot checks being undertaken for verification of such expenditur.</p>


<p><strong>IV Accounts Payable</strong> - Systems and processes will be set-up to ensure that you, as a business owner would get timely updates on the situation with respect to Accounts Payable. An analysis of this over time will help us better streamline cash-flow for your organization.</p>

<p><strong>V Accounts Receivable </strong> - Weekly updating of the Accounts Receivable list to the owners will ensure that collections come in on a smooth basis and ease the pressures of Cash Flow to the company. An analysis of this over time will help us better streamline cash-flow for your organization.</p>

<p><strong>VI Payroll Processing</strong> - End of the month payroll processing can be handled for your organization in an efficient manner by utilizing our set systems and can make this process seamless. </p>

<p><strong>VII Documents Management</strong> - We will act as a complete back-office for your organization having all your documents maintained on our secure servers as and when you have need for them. We typically store this at our end and liaise with whomsoever you would require to share these for the purpose of completing documentation</p>

<P><strong>VIII</strong> Get missing accounting entries entered in the books and updated fast.</P>

<p><strong>IX</strong> Ensuring all revenue earned and expenses incurred during the period has been recorded properly.</p>

<p><strong>X</strong> Passing year end accrual and adjustment entries.</p>

<p><strong>XI </strong> Year-end fast closing of the accounts</p>

<p><strong>XII</strong> Generate Profit &amp; Loss A/cs (Income Statements) &amp; Balance Sheets at month end or quarter end and at the year  end as required.</p>

<p><strong>XIII</strong> Clean up your general ledger</p>

<p><strong>XIV</strong> Providing of useful management reports intermittently when required. </p>

<p><strong>XV</strong> Provide various month end and year end reports as required.</p>

<p><strong>XVI</strong> Provide accounts, finance taxation consultations when required.</p>

<p><strong>XVII</strong> Whilst accounting could be interpreted as a simple debit / credit record keeping services, the knowhow of the above additional services differentiate us from the rest. We have handled and structured tax efficiently various transactions involving complex direct and indirect tax issues, inbound / out bound investments, capital gains, department representations, etc.</p>

<p><strong>XVIII</strong> We do not simply process the payroll of a Company but structure the salary in the most tax efficient manner thereby reducing the tax burden on employees and increasing the tax homes.</p>

<p><strong>XIX</strong> Inventory Management We look into Inventory Management in a different approach for each client depending on their nature of business and implement a solution for them as per discussions with each client.<br>

We deliver timely and accurate data and reports, analysis of reports and advices so to help move your business forward.</p>








</div>
</section>
