<section id="auditing">
        <div class="container">
            <div class="row">
            <div id="audit">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Internal Audit and Reporting</h2>
                   
                    
                 </div>
            </div>
                 <div class="col-lg-12 text-left">
                   

<div class="text-info">

<p class="large">Internal Audits are conducted by companies to mitigate risk and drive an external maker-checker system across the company. This ensures the quality and accuracy of the work conducted by internal teams of companies. Although Internal Audits are not a statutory requirement, they serve as a great way for companies to ensure quality and timeliness of their operations.<br>

Setting up of Internal Audit function <br>

Undertaking Internal Audit risk assessments<br>

Identifying and monitoring Key Risk Indicators (KRI) and Red Flags <br>

Inventory Verification <br>

Review of Accounting &amp; Taxation <br>

Fixed Assets Verification <br>

Any business that is operating at a scale where there are opportunities for leakage of revenue or mismanagement of accounting practices will benefit from having an active Internal Audit team.</p>

</div>

</div>
</div>
</div>
</section>




