<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services we offer</h2>
                 <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4" ;">
                    <span class="fa-stack fa-4x" style="color: #00ffff;">
                        <i class="far fa-circle fa-stack-2x  text-primary-dark"></i>
                        <i class="fa fa-drafting-compass"></i> 
                    </span>
                    <h4 class="service-heading">Web Design</h4>
                    <p>We design website by keeping  our cutomer in mind. We create attractive websites. Our wbsites are responsive. It looks good on all devices (desktop, tablets and mobile phones)</p>
                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x" style="color: #db58ff;">
                        <i class="far fa-circle fa-stack-2x text-primary-ddark"></i>
                        <i class="fas fa-binoculars"></i>
                        
                    </span>
                    <h4 class="service-heading">SEO</h4>
                    <p>Search Engine Optimization is the process of helping your customers connect with your business online. We use SEO to increase traffic &amp; ranking to your business.</p>
                <!---    <a class="page-scroll" href="#">Learn More</a>-->
                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x" style="color: #006600;">
                        <i class="far fa-circle fa-stack-2x text-primary-ldark"></i>
                        <i class="fas fa-user-friends"></i>                        
                    </span>
                    <h4 class="service-heading">Social Media</h4>
                    <p>Connect with your customer with social media advertising like Facebook, Instagram, Twitter, Youtube, Linkedin, Pinterest. Social Media allows to target the searcher.</p>
                    
                </div>
                
                
            </div>
        </div>
    </section>
