<section id="taxation">
        <div class="container">
            <div class="row">
              <div id="tax">
                <div class="col-lg-12 text-center">
                <img src="/img/services/GST.jpg" alt="AccFin" width= height=""> 
                    <h2 class="section-heading">Taxation Preparation &amp; Compliances services</h2>
                    <h3 class="section-subheading text-muted">We will handle your year end tax preparation and e-filing.
                    </h3>
                    
                 </div>
               </div>
                 <div class="col-lg-12 text-left">
                    <h3 class="section-heading"></h3>

<div class="text-info">
<h2>INCOME TAX &amp; GST compliances</h2>

 <h3>Income Tax Compliances</h3>

<p class="large">The firm undertakes:-<br>
    Preparation and filing of Income Tax Returns with the Tax Authorities. 
    It assists the clients in making correct and timely filing of tax dues such as advance tax, self assessment tax, etc. <br>

    Tax Deduction at Source (TDS) Compliance Services. <br>

    The firm advises the clients on the correct deduction and payment of taxes at source for various transactions and Filing of eTDS Returns of the Clients and Banks. The firm also provides services such as Due Diligence of TDS compliance. <br>

    Tax Consultancy / Planning <br>

    The firm advises the Clients for planning their Income Tax matters. The firm also provides updates on significant and pertinent changes in law. The firm assists the Clients in availing benefits, exemptions, reliefs, rebates and deductions to minimize the incidence of tax.<br>

    Electronic filing and Digital Signature <br>

    Filing of Income Tax returns with attaching Digital Signature. The Clients Digital Signature in maintained in a confidential manner. Application of Digital Signature, its use and the renewal of the same is done. <br>

    PAN &amp; TAN <br>
  Applying and obtaining Permanent Account Number (PAN) and Tax Deduction Account Number (TAN).     Rectification of the details of the assessee in case of PAN and TAN is also done.</p>


<h3>GOODS AND SERVICE TAX (GST) </h3>

<p class="large">As India leaps into the future with the implementation of GST, we at AccFin Services are there to assist you as you adjust your businesses and help out with balancing the books and keeping the day to day accounts for your businesses. We understand that hiring staff in-house can be inconvenient. We aim to solve all your accounting worries, so you are fully prepared for when tax submission deadline is near.</p>


<ol class="large">

<li>Registration </li>

<li>Preparation of challan and Payment of the same</li>

<li>Filing of Returns in GSTR-1, 2, 3, 3B and others </li>

<li>Representation </li>

<li>Advisory Services </li>

<li>GST process streamlining</li>

<li>GST Annual Returns and Reconciliation with the books</li>

</ol>

<p>As India leaps into the future with the implementation of GST, we at AccFin Services are there to assist you as you adjust your businesses and help out with balancing the books and keeping the day to day accounts for your businesses. We understand that hiring staff in-house can be inconvenient. We aim to solve all your accounting worries, so you are fully prepared for when tax submission deadline is near.</p>




</div>  
