<section id="taxation">
        <div class="container">
            <div class="row">
              <div id="tax">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Taxation Preparation &amp; Compliances services</h2>
                    <h3 class="section-subheading text-muted">We will handle your year end tax preparation and e-filing.
                    </h3>
                    
                 </div>
               </div>
                 <div class="col-lg-12 text-left">
                    <h3 class="section-heading"></h3>

<div class="text-info">
<h2>Income Tax</h2>

<p><strong>TaxCompliances</strong></br>
The firm undertakes preparation and filing of Income Tax Returns with the Tax Authorities. It assists the clients in making correct and timely tax dues such as advance tax, self assessment tax, etc. </p>

<p><strong>Appeals,Revisions and Representations</strong></br>
The firm undertakes preparation of written submissions and appearing before the tax and appellate authorities up to Income Tax Appellate Tribunal (ITAT). </p>

<p><strong>Tax Deduction at Source (TDS) Compliance Services</strong></br>
The firm advises the clients on the correct deduction and payment of taxes at source for various transactions and Filing of eTDS Returns of the Clients and Banks. The firm also provides services such as Due Diligence of TDS compliance. The firm also prepares forms 16 and 16A on behalf of the Client. </p>

<p><strong>Tax Consultancy / Planning</strong></br>
The firm advises the Clients for planning their Income Tax matters. The firm also provides updates on significant and pertinent changes in law. The firm assists the Clients in availing benefits, exemptions, reliefs, rebates and deductions to minimize the incidence of tax.</p> 

<p><strong>Electronic filing and Digital Signature</strong></br>
Filing of Income Tax returns with attaching Digital Signature. The Clients Digital Signature in maintained in a confidential manner. Application of Digital Signature, its use and the renewal of the same is done. </p>

<p><strong>Filing of Rectification</strong></br>
Application of Rectification u/s 154 on receipt of intimation u/s 143(1) and follow up of the same with the ITO. </p>

<p><strong>PAN &amp; TAN </strong><br>
Applying and obtaining Permanent Account Number (PAN) and Tax Deduction Account Number (TAN). Rectification of the details of the assessee in case of PAN and TAN is also done.</p>




<h2>GOODS AND SERVICE TAX (GST)</h2>
<ul>
<li>Registration </li>
<li>Preparation of challan and Payment of the same</li>
<li>Filing of Returns in GSTR-1, 2, 3, 3B and others </li>
<li>Representation </li>
<li>Advisory Services</li>
<li>GST process streamlining</li>
<li>GST Annual Returns and Reconciliation with the books</li>
<li>GST Training</li>
</ul>



</div>  
